## Words

In [2]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [6]:
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [7]:
for word in words:
    if len(word) >= 5:
        print(word)

filling
theatre
easygoing
story
island

**Print the first word starting with "t"**

In [8]:
for word in words:
    if word.startswith("t"):
        print(word)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [19]:
initial_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_list = [0]

for i in initial_list:
    squared = i ** 2
    squared_list.append(squared)

print(squared_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [21]:
initial_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_list_of_odds = [0]


for i in initial_list:
    if i % 2 != 0:
        squared_odds = i ** 2
        squared_list_of_odds.append(squared_odds)

print(squared_list_of_odds)

[0, 1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [25]:
list_to_begin = [*range(1000)]
multiples_of_8 = []

for i in list_to_begin:
    if i % 8 == 0:
        multiples_of_8.append(i)
print(multiples_of_8)

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992]

## People

In [28]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [32]:
list_of_people = list(people)
print(len(list_of_people))

5

**How many people have kids**?

In [40]:
people_with_kids = len([person for person in people if person["n_kids"] >= 1])

print(f"From the listed people {people_with_kids} have kids.")

From the listed people 4 have kids.

**How many kids do they have in total?**

In [48]:
kids_count = sum(person["n_kids"] for person in people)

print(f"The total number of kids is {kids_count}.")

The total number of kids is 10.

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [53]:
people_info_in_one_year = []

for person in people:
    updated_person = person.copy()
    if person["name"].endswith("a"):
        updated_person["n_kids"] += 1  
    updated_person["age"] += 1  
    people_info_in_one_year.append(updated_person)

for person in people_info_in_one_year:
    print(person)

{'name': 'Juan', 'age': 35, 'n_kids': 2}
{'name': 'Pepe', 'age': 28, 'n_kids': 0}
{'name': 'Sonia', 'age': 42, 'n_kids': 2}
{'name': 'Lucía', 'age': 23, 'n_kids': 3}
{'name': 'Leo', 'age': 56, 'n_kids': 5}